@charset "UTF-8";
/* COLORES */
/*TIPOGRAFIA*/
/*HEADER*/
header {
  position: sticky;
  top: 0px;
  z-index: 2; }
  header nav {
    background-color: rgba(250, 220, 38, 0.973); }
    header nav .logo {
      height: 100px; }
    header nav li {
      border: none;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
      header nav li a {
        text-decoration: none;
        color: black; }
      header nav li:hover {
        font-weight: 600; }

#li-tienda {
  animation-duration: 1s;
  animation-name: loopTienda;
  animation-iteration-count: infinite;
  color: red; }

@keyframes loopTienda {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*FOOTER*/
footer {
  position: absolute;
  /*para acomodar el footer abajo de todo en paginas con poco contenido*/
  bottom: 0;
  /*para acomodar el footer abajo de todo en paginas con poco contenido*/
  width: 100%;
  /*acomodar el ancho del footer que pierde al usar position absolute*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(250, 220, 38, 0.973); }
  footer h3 {
    font-weight: 200;
    padding-right: 10px; }
  footer #derechosMarca {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  footer .footer-redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    height: 5rem; }
    footer .footer-redes .logoRedes {
      font-size: 40px;
      color: black; }

.login-form {
  justify-content: start;
  background-color: rgba(250, 220, 38, 0.973);
  padding-left: 1rem; }

.mi-shadow-login:focus {
  box-shadow: 0px 0px 2px 6px #f1f1a0; }

.mi-shadow {
  box-shadow: 0px 0px 10px 15px rgba(250, 220, 38, 0.973); }

.grilla-tienda {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-areas: "prod1" "prod2" "prod3" "prod4" "prod5" "prod6";
  justify-content: center;
  align-items: center; }

.grilla-item, .grilla-item-claro, .grilla-item-oscuro, .grilla-item-agotado {
  display: grid;
  grid-template-columns: 20% 45% 5% 20%;
  grid-template-rows: 100px;
  grid-template-areas: "img desc cant bot";
  justify-content: space-between;
  align-items: center; }
  .grilla-item h3, .grilla-item-claro h3, .grilla-item-oscuro h3, .grilla-item-agotado h3 {
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 300;
    grid-area: desc; }

.grilla-item-claro {
  background-color: #f1f1a0; }

.grilla-item-oscuro {
  background-color: rgba(250, 220, 38, 0.973); }

.grilla-item-agotado {
  background-color: red; }
  .grilla-item-agotado h3 {
    text-decoration: line-through; }
  .grilla-item-agotado .boton-tienda {
    visibility: hidden; }

.tamanoImg {
  height: 83px;
  grid-area: img;
  border-radius: 5px; }

.cantidad {
  grid-area: cant; }

/*SECCION NOVEDADES DE NOVEDADES.HTML*/
.img-novedades {
  height: 250px;
  width: 250px; }

.tamano-carouser {
  width: 50%; }

/*AGREGO ESTA CLASE PARA QUE LA INDICACION DE POSICION DEL CARRUSEL NO PISE EL TEXTO DE LAS CARD*/
.card-margin-bottom {
  margin-bottom: 2rem; }

/*GALERIA EN PRODUCTOS.HTML*/
.galeria-img {
  height: 90%;
  width: 90%;
  border-radius: 10px;
  transition: all 1s; }
  .galeria-img:hover {
    transform: scale(1.05, 1.05); }

.mi-shadow-contacto:focus {
  box-shadow: 0px 0px 2px 6px rgba(250, 220, 38, 0.973); }

.mi-text-area {
  resize: none; }

/*
$color: color del botón*
$colorHover: color del botón al hacer Hover
*/
#boton-login {
  background-color: bisque;
  font-size: 1rem;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-color: bisque; }
  #boton-login:hover {
    background-color: #ffce93;
    border-color: bisque; }

#boton-reset {
  background-color: #cccccc;
  font-size: 1rem;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-color: bisque; }
  #boton-reset:hover {
    background-color: #f8f6f4;
    border-color: bisque; }

.boton-tienda {
  background-color: bisque;
  font-size: 1rem;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-color: bisque;
  border-radius: 5px;
  border: none;
  grid-area: bot;
  margin: 0.75rem; }
  .boton-tienda:hover {
    background-color: #ffce93;
    border-color: bisque; }

/* CODIGO EXTRAIDO DE  https://codepen.io/gatoledo1/pen/MWKpLNY 
SE REALIZARON MODIFICACIONES EN EL SCSS Y HTML PARA ADAPTARLO A MI SITIO Y DISEÑO*/
body {
  background: aliceblue; }

.gtco-testimonials {
  position: relative;
  margin-top: 30px; }
  .gtco-testimonials .owl-stage-outer {
    padding: 5px 0; }
  .gtco-testimonials .owl-nav {
    /* display: none; */ }
  .gtco-testimonials .owl-dots {
    text-align: center; }
    .gtco-testimonials .owl-dots span {
      position: relative;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: block;
      background: #fff;
      border: 2px solid rgba(250, 220, 38, 0.973);
      margin: 0 5px; }
    .gtco-testimonials .owl-dots .active {
      box-shadow: none; }
      .gtco-testimonials .owl-dots .active span {
        background: #f1f1a0;
        box-shadow: none;
        height: 12px;
        width: 12px;
        margin-bottom: -1px; }
  .gtco-testimonials .card {
    background: #f1f1a0;
    box-shadow: 0 0 10px 20px rgba(250, 220, 38, 0.973);
    margin: 0 20px;
    align-items: center;
    border: 0; }
    .gtco-testimonials .card .card-img-top {
      width: 200px;
      height: 200px; }
    .gtco-testimonials .card h5 {
      color: black;
      font-size: 21px;
      line-height: 1.3; }
      .gtco-testimonials .card h5 span {
        font-size: 18px;
        color: #666666; }
    .gtco-testimonials .card p {
      font-size: 18px;
      color: #555;
      padding-bottom: 15px; }
  .gtco-testimonials .active {
    opacity: 0.4;
    transition: all 0.3s; }
  .gtco-testimonials .center {
    opacity: 1; }
    .gtco-testimonials .center h5 {
      font-size: 24px; }
      .gtco-testimonials .center h5 span {
        font-size: 20px; }
    .gtco-testimonials .center .card-img-top {
      height: 100%;
      width: 100%; }

@media (max-width: 767px) {
  .gtco-testimonials {
    margin-top: 20px; } }

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  outline: 0; }

.owl-carousel button.owl-dot {
  outline: 0; }

.owl-carousel .card {
  box-shadow: none; }

/*INFORMACION PARA TUTORA*/
/*EXTEND FUE UTILIZADO EN _tienda.scss en la clase .grilla-item-agotado*/
/*MIXIM FUE UTILIZADO EN _botones.scss*/
* {
  margin: 0;
  padding: 0; }

:root {
  --tipografia: 'Constance', sans-serif; }

/*BODY*/
body {
  background-image: url(../img/fondo.png);
  position: relative;
  /*Para solucionar que el footer con position absolute se ubica con respecto al viewport y en paginas con mucho contenido al hacer scroll me queda el footer en el medio*/
  padding-bottom: 90px;
  /*para que el footer no me tape contenido*/
  min-height: 100vh;
  /*para que el body mida como minimo lo que mida el viewport*/
  /*IMAGEN PRINCIAPL INDEX*/
  /*MAPA INDEX*/ }
  body .box-page, body .aboutUs-section {
    background-color: #f1f1a0;
    margin: 4rem;
    border-radius: 1rem; }
  body .aboutUs-section {
    display: flex;
    flex-direction: column;
    text-align: center; }
  body h1 {
    padding-top: 1rem;
    text-align: center;
    font-family: "Constance", sans-serif;
    font-weight: bold;
    text-decoration: underline; }
  body h2 {
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 15px; }
  body h3 {
    font-family: "Constance", sans-serif;
    font-style: italic;
    font-size: 20px; }
  body .section-img-principal {
    display: flex;
    justify-content: center;
    background-color: rgba(250, 220, 38, 0.973); }
  body #imgPrincipal {
    width: 50%; }
  body .mapa {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    align-items: center; }
    body .mapa h3 {
      font-weight: bold; }
  body #tamano-mapa {
    width: 90%; }

/********************************************/
/********************  MD  ******************/
/********************************************/
@media screen and (max-width: 600px) {
  /*HOME*/
  body {
    /*PRODUCTOS*/
    /*TIENDA*/ }
    body header {
      position: sticky;
      top: 0px;
      z-index: 2; }
      body header nav {
        background-color: rgba(250, 220, 38, 0.973); }
        body header nav .logo {
          height: 70px; }
    body #imgPrincipal {
      width: 80%; }
    body #mi-text-area {
      height: 300px; }
    body .box-page, body .aboutUs-section {
      background-color: #f1f1a0;
      margin: 2rem;
      border-radius: 1rem; }
    body h1 {
      text-align: center;
      font-family: "Constance", sans-serif;
      font-style: italic;
      text-decoration: underline; }
    body h2 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-style: italic;
      font-size: 13px; }
    body .galeria-img {
      height: 90%;
      width: 90%; }
    body .galeria-img {
      height: 90%;
      width: 90%;
      border-radius: 10px;
      transition: all 1.5s; }
      body .galeria-img:hover {
        transform: scale(1.2, 1.2); }
    body .grilla-item, body .grilla-item-claro, body .grilla-item-oscuro, body .grilla-item-agotado {
      display: grid;
      grid-template-columns: 25% 15% 50%;
      grid-template-rows: 50px 50px;
      grid-template-areas: "img desc desc" "img cant bot"; }
    body .tamanoImg {
      height: 60px; }
  /*FOOTER*/
  footer .footer-redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 5rem; } }
