/*SECCION NOVEDADES DE NOVEDADES.HTML*/

.img-novedades{
    height: 250px;
    width: 250px;
}

.tamano-carouser{
    width: 50%;
}

/*AGREGO ESTA CLASE PARA QUE LA INDICACION DE POSICION DEL CARRUSEL NO PISE EL TEXTO DE LAS CARD*/
.card-margin-bottom{
    margin-bottom: 2rem;
}