.login-form{
    justify-content: start;
    background-color: $natuColor;
    padding-left: 1rem;
       
}

.mi-shadow-login:focus{
    box-shadow: 0px 0px 2px 6px $natuColorClaro;
 }

 .mi-shadow{
    box-shadow: 0px 0px 20px 4px $natuColor;
 }
 

.grilla-tienda{
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 150px 150px 150px 150px;
    grid-template-areas: "prod1"
                         "prod2"
                         "prod3"
                         "prod4";
    justify-content: center;
    align-items: center;
    
}

.grilla-item{
    display: grid;
    grid-template-columns: 20% 45% 5% 20%;
    grid-template-rows: 95%;
    grid-template-areas: "img desc cant bot";
    justify-content: space-between;
    align-items: center;
    box-shadow: 1rem;
    
    
    
   
    
    h3{
        font-size: 13px;
        font-family: $letraTextos;
        font-style: normal;
        font-weight: 300;
        grid-area: desc;
    }
}

.grilla-item-agotado{
    @extend .grilla-item;
    background-color: red;

    h3{
        text-decoration: line-through;
    }

    .boton-tienda{
        visibility: hidden;
    }
}

.tamanoImg{
    height: 83px;
    grid-area: img;
    border-radius: 5px;
}

.cantidad{
    grid-area: cant;
}


