.login-form{
    width: 50%;
}
.grilla-tienda{
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 150px 150px 150px 150px;
    grid-template-areas: "prod1"
                         "prod2"
                         "prod3"
                         "prod4";
    justify-content: center;
    align-items: center;
}

.grilla-item{
    display: grid;
    grid-template-columns: 20% 45% 5% 20%;
    grid-template-rows: 95%;
    grid-template-areas: "img desc cant bot";
    justify-content: space-between;
    align-items: center;
    
    h3{
        font-size: 13px;
        font-family: $letraTextos;
        font-style: normal;
        font-weight: 300;
        grid-area: desc;
    }
}

.grilla-item-agotado{
    @extend .grilla-item;
    background-color: red;

    h3{
        text-decoration: line-through;
    }

    .boton-tienda{
        visibility: hidden;
    }
}

.tamanoImg{
    height: 90px;
    grid-area: img;
    border-radius: 5px;
}

.cantidad{
    grid-area: cant;
}


