

/* COLORES */

$natuColor: rgba(250, 220, 38, 0.973);
$natuColorClaro: rgb(241, 241, 160);
$btnColor: bisque;
$btnColorHover: rgb(255, 206, 147);

/*TIPOGRAFIA*/

$letraTextos: Verdana, Geneva, Tahoma, sans-serif;
$letraBtn: Verdana, Geneva, Tahoma, sans-serif;
$letraNatu: 'Constance', sans-serif;