@import './variables';
@import './header';
@import './footer';
@import './tienda';
@import './novedades';
@import './productos';
@import './contacto';
@import './botones';


/*INFORMACION PARA TUTORA*/
/*EXTEND FUE UTILIZADO EN _tienda.scss en la clase .grilla-item-agotado*/
/*MIXIM FUE UTILIZADO EN _botones.scss*/


*{
    margin: 0;
    padding: 0;
}

:root{
    --tipografia: 'Constance', sans-serif;
}


/*BODY*/
body{
    background-color: $natuColorClaro;
    position: relative; /*Para solucionar que el footer con position absolute se ubica con respecto al viewport y en paginas con mucho contenido al hacer scroll me queda el footer en el medio*/
    padding-bottom: 90px; /*para que el footer no me tape contenido*/
    min-height: 100vh; /*para que el body mida como minimo lo que mida el viewport*/
    
    .aboutUs-section{
        display: flex ;
        flex-direction: column;
        margin-top: 4rem;
        text-align: center;
    
    }
    
    h1{
        text-align: center;
        font-family: $letraNatu;
        font-weight:bold;
        text-decoration: underline;
        padding-bottom: 20px;
        
        
    }
    
    h2{
        padding: 2rem;
        font-family: $letraTextos;
        font-style: italic;
        font-size: 15px;
    }
    
    h3{
        font-family: $letraNatu;
        font-style: italic;
        font-size: 20px;
    
    }
    

    
    
    /*IMAGEN PRINCIAPL INDEX*/
    #imgPrincipal{
        width: 100%;
    }
    
    /*MAPA INDEX*/
    .mapa{
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
        align-items: center;
    
        h3{
            font-weight: bold;
        }
    }
    
    
    #tamano-mapa{
        width: 90%;
    }

}




/********************************************/
/********************  MD  ******************/
/********************************************/
@media screen and (max-width: 600px){

/*HOME*/

    
header img{
        height: 50px;
}

#mi-text-area{
    height: 300px;
}


h1{
    text-align: center;
    font-family: $letraNatu;
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
}
    
    
h2{
    font-family: $letraTextos;
    font-style: italic;
    font-size: 10px;
}

/*PRODUCTOS*/

.galeria-img{
    height: 90% ;
    width: 90%;
}


/*TIENDA*/

.galeria-img{
    height: 90% ;
    width: 90%;
    border-radius: 10px;
    transition: all 1.5s;

    &:hover{
        transform: scale(1.2,1.2);
    }
}
/* EN DESUSO POR USAR FORM DE BOOTSTRAP
.login{
    width: 250px;
    height: 100px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-login{
    display: flex;
    justify-content: center;
}
 */
    
.grilla-item{
    display: grid;
    grid-template-columns: 25% 15% 50%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img desc desc"
                          "img cant bot";
}

.tamanoImg{
    height: 60px;
}

/*FOOTER*/
footer{
    .footer-redes{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 25%;
        height: 5rem;
    }
}

}
